@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


:root {
  font-family: Calibri, "Segoe UI", system-ui, -apple-system, "Helvetica Neue",
    Arial, sans-serif;
}

html,
body {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
}



.glass-card {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* overflow: hidden; */
}

